body{
font-family: 'Quicksand', sans-serif;
font-weight: 600;
}

/* .first{
    color:gold;
    background-color: dimgray;
}

.second{
    color:fuchsia;
    background-color: aqua;
} */

/* section > h2{
    color:blue;
}

h2 + p{
    color:aqua;
} */
/* 
section.second > h2{
    color:aqua;
} */

/* input[type="text"]{
    color: aqua;
}

a[href*="www"]{
    color:chocolate;
} */

img{
    width:300px;
    border:10px inset rgb(14, 13, 14);
    padding:8px;
    border-radius: 10px;
}

*{
    margin-left:10px;
}

h1{
    text-align: center;
}

button{
    display:block;
    border:5px solid red;
    width:500px;
    margin:0px 20px;
    padding:0px 200px;
}

a{
    display:inline-block;
    border:10px solid black;
    margin: 5px;
    padding: 5px;
    width:70px;
}




